dist/
node_modules/
eslint-cache/
.eslintcache
.DS_Store
Thumbs.db
pnpm-debug.log
npm-debug.log

# Lumi additions
output

!/dist/index.html
python/__pycache__/trainerUtils.cpython-310.pyc
python/__pycache__/pokemonUtils.cpython-310.pyc
